nav a:link { color: blue; }
nav a:visited { color: blue; }
nav a:visited:hover { color: white; background: blue; }
nav a:hover { color: white; background: blue; }
nav a:active { color: blue; }

nav {
  display: inline-block;
  overflow: hidden;
  width: 320px;
  float: left;
}

article {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 320px - 1em);
  float: right;
}

nav ul {
  /* eliminate bullets */
  list-style-type: none;
}

nav ul li ul {
  /* hide submenus */
  display: none;
}

nav ul li:hover ul {
  /* show submenus */
  display: block;
}
